version: "3.8"

services:
  {{ .Name }}:
    image: ${SKAFFOLD_DEFAULT_REPO:-img.pitz.tech/mya}/{{ .Name }}
    restart: always
    environment:
      LOG_LEVEL: info
      LOG_FORMAT: json
    command: []
